@model T02.Models.UsuarioModel

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="card-body">

                <img src="~/Template/image/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="card-title text-center text-white">Registro Vendedores</h4>
                @if (ViewBag.Mensaje != null)
                {
                    <div class="alert alert-danger">@ViewBag.Mensaje</div>
                }
                @using (Html.BeginForm("RegistroVendedores", "Home", FormMethod.Post, new { @id = "FormRegistroV" }))
                {
                    <div class="form-group">
                        <label>Cédula</label>
                        @Html.TextBoxFor(m => m.Cedula, new { @placeholder = "Cédula", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        @Html.TextBoxFor(m => m.Nombre, new { @placeholder = "Nombre", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Correo Electrónico</label>
                        @Html.TextBoxFor(m => m.Correo, new { @placeholder = "Correo", @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-gradient-danger btn-rounded btn-fw me-2">Procesar</button>
                }

            </div>
        </div>
    </div>
</div>
<script src="~/Template/js/funciones/registroVendedor.js"></script>
